@import "bootstrap";

#listCurrance {

  a {
    cursor: pointer;
    font-size: 1.4em;
    border-bottom: 1px dashed #000080;
    display: block;
    padding: 3px;

    &:hover {
      text-decoration: none;
    }

    &.active {
      .btn-success
    }

  }

}